<!DOCTYPE html>
<html>
<head>
  <title>Learnhowtoprogram</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

  <% if flash[:notice] != nil || flash[:alert] != nil %>
    <div class="container alerts">
      <% if flash[:notice] != nil %>
        <div class="alert alert-success" role="alert"><%= flash[:notice] %></div>
      <% end %>

      <% if flash[:alert] != nil %>
        <div class="alert alert-danger" role="alert"><%= flash[:alert] %></div>
      <% end %>
    </div>
  <% end %>


  <%= yield %>
</div>

</body>
</html>
